# Exploraci√≥n de los datos

In [ ]:
import pandas as pd

In [11]:
sate = pd.read_json("../data/raw/satellites.json")
debris = pd.read_json("../data/raw/debris.json")
ucs = pd.read_excel("../data/raw/ucs-satellite-database.xlsx")

In [12]:
sate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20328 entries, 0 to 20327
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   INTLDES        20328 non-null  object
 1   NORAD_CAT_ID   20328 non-null  int64
 2   OBJECT_TYPE    20328 non-null  object
 3   SATNAME        20328 non-null  object
 4   COUNTRY        20328 non-null  object
 5   LAUNCH         20328 non-null  object
 6   SITE           20328 non-null  object
 7   DECAY          6142 non-null   object
 8   PERIOD         19919 non-null  float64
 9   INCLINATION    19919 non-null  float64
 10  APOGEE         19919 non-null  float64
 11  PERIGEE        19919 non-null  float64
 12  COMMENT        394 non-null    object
 13  COMMENTCODE    150 non-null    float64
 14  RCSVALUE       20328 non-null  int64
 15  RCS_SIZE       18017 non-null  object
 16  FILE           20328 non-null  int64
 17  LAUNCH_YEAR    20328 non-null  int64
 18  LAUNCH_NUM     20328 non-null  int64
 19  LAUNCH_PIECE   20328 non-null  object
 20  CURRENT        20328 non-null  object
 21  OBJECT_NAME    20328 non-null  object
 22  OBJECT_ID      20328 non-null  object
 23  OBJECT_NUMBER  20328 non-null  int64
dtypes: float64(5), int64(6), object(13)
memory usage: 3.7+ MB

In [13]:
debris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35606 entries, 0 to 35605
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   INTLDES        35606 non-null  object
 1   NORAD_CAT_ID   35606 non-null  int64
 2   OBJECT_TYPE    35606 non-null  object
 3   SATNAME        35606 non-null  object
 4   COUNTRY        35606 non-null  object
 5   LAUNCH         35606 non-null  object
 6   SITE           35606 non-null  object
 7   DECAY          22672 non-null  object
 8   PERIOD         35262 non-null  float64
 9   INCLINATION    35262 non-null  float64
 10  APOGEE         35262 non-null  float64
 11  PERIGEE        35262 non-null  float64
 12  COMMENT        335 non-null    object
 13  COMMENTCODE    3286 non-null   float64
 14  RCSVALUE       35606 non-null  int64
 15  RCS_SIZE       29537 non-null  object
 16  FILE           35606 non-null  int64
 17  LAUNCH_YEAR    35606 non-null  int64
 18  LAUNCH_NUM     35606 non-null  int64
 19  LAUNCH_PIECE   35606 non-null  object
 20  CURRENT        35606 non-null  object
 21  OBJECT_NAME    35606 non-null  object
 22  OBJECT_ID      35606 non-null  object
 23  OBJECT_NUMBER  35606 non-null  int64
dtypes: float64(5), int64(6), object(13)
memory usage: 6.5+ MB

In [14]:
ucs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7560 entries, 0 to 7559
Data columns (total 68 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name of Satellite, Alternate Names  7560 non-null   object
 1   Current Official Name of Satellite  7560 non-null   object
 2   Country/Org of UN Registry          7559 non-null   object
 3   Country of Operator/Owner           7560 non-null   object
 4   Operator/Owner                      7560 non-null   object
 5   Users                               7560 non-null   object
 6   Purpose                             7560 non-null   object
 7   Detailed Purpose                    1254 non-null   object
 8   Class of Orbit                      7560 non-null   object
 9   Type of Orbit                       6909 non-null   object
 10  Longitude of GEO (degrees)          7557 non-null   float64
 11  Perigee (km)                        7553 non-null   float64
 12  Apogee (km)                         7553 non-null   float64
 13  Eccentricity                        7549 non-null   float64
 14  Inclination (degrees)               7556 non-null   float64
 15  Period (minutes)                    7504 non-null   float64
 16  Launch Mass (kg.)                   7315 non-null   float64
 17  Dry Mass (kg.)                      767 non-null    object
 18  Power (watts)                       579 non-null    object
 19  Date of Launch                      7559 non-null   object
 20  Expected Lifetime (yrs.)            5450 non-null   float64
 21  Contractor                          7560 non-null   object
 22  Country of Contractor               7560 non-null   object
 23  Launch Site                         7560 non-null   object
 24  Launch Vehicle                      7560 non-null   object
 25  COSPAR Number                       7560 non-null   object
 26  NORAD Number                        7560 non-null   int64
 27  Comments                            2085 non-null   object
 28  Unnamed: 28                         5 non-null      object
 29  Source Used for Orbital Data        6636 non-null   object
 30  Source                              3286 non-null   object
 31  Source.1                            725 non-null    object
 32  Source.2                            1832 non-null   object
 33  Source.3                            1126 non-null   object
 34  Source.4                            729 non-null    object
 35  Source.5                            553 non-null    object
 36  Source.6                            504 non-null    object
 37  Unnamed: 37                         484 non-null    object
 38  Unnamed: 38                         484 non-null    object
 39  Unnamed: 39                         484 non-null    object
 40  Unnamed: 40                         484 non-null    object
 41  Unnamed: 41                         484 non-null    object
 42  Unnamed: 42                         484 non-null    object
 43  Unnamed: 43                         484 non-null    object
 44  Unnamed: 44                         484 non-null    object
 45  Unnamed: 45                         484 non-null    object
 46  Unnamed: 46                         484 non-null    object
 47  Unnamed: 47                         484 non-null    object
 48  Unnamed: 48                         484 non-null    object
 49  Unnamed: 49                         484 non-null    object
 50  Unnamed: 50                         484 non-null    object
 51  Unnamed: 51                         484 non-null    object
 52  Unnamed: 52                         484 non-null    object
 53  Unnamed: 53                         485 non-null    object
 54  Unnamed: 54                         485 non-null    object
 55  Unnamed: 55                         485 non-null    object
 56  Unnamed: 56                         485 non-null    object
 57  Unnamed: 57                         485 non-null    object
 58  Unnamed: 58                         485 non-null    object
 59  Unnamed: 59                         485 non-null    object
 60  Unnamed: 60                         488 non-null    object
 61  Unnamed: 61                         488 non-null    object
 62  Unnamed: 62                         487 non-null    object
 63  Unnamed: 63                         485 non-null    object
 64  Unnamed: 64                         485 non-null    object
 65  Unnamed: 65                         485 non-null    object
 66  Unnamed: 66                         487 non-null    object
 67  Unnamed: 67                         485 non-null    object
dtypes: float64(8), int64(1), object(59)
memory usage: 3.9+ MB